<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Coyote Moves</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/libs")
</head>
<body>

    <div id="body">
        @RenderBody()
    </div>

    <footer>
        <nav>
        <p>&copy; @DateTime.Now.Year - Coyote Logistics</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>