<!DOCTYPE html>
<html lang="en" ng-app="coyoteMoves">
<head>
    <meta charset="utf-8" />
    <title>Coyote Moves</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/libs")
</head>
<body>
    <header>
        <div class="container">
            <img src="public/img/coyote-symbol.png" />
            <h1>Coyote Moves</h1>
        </div>
    </header>
    <div id="body">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Coyote Logistics</p>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>